.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.datecell {
  text-align: center;
  color: grey;
  font-size:14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight:500;
  margin: 0px;
}

.habitBadge {
  margin: 5px;
}

.habitPlantIconParent {
  color: var(--ion-color-background);
}

.plantProgressBar {
  position: absolute;
  bottom: 10px;
}
